Startup Idea Validator & Mentor (3).json
{
  "name": "Startup Idea Validator & Mentor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "startup-validator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e13fbb4e-6fe9-405e-b4f6-452cefe0a723",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        -48
      ],
      "webhookId": "777320b0-156e-4ca8-9dc0-ef94c78df80a"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "startupIdea",
              "value": "=You are a backend-only analysis engine.\n\nYour task:\nAnalyze the startup idea below and return STRICTLY VALID JSON.\n\nCRITICAL OUTPUT RULES:\n- Output MUST be a single JSON object\n- DO NOT wrap the JSON in markdown\n- DO NOT add explanations\n- DO NOT include arrays like messages, content, output_text\n- DO NOT include any text before or after the JSON\n- DO NOT escape the JSON as a string\n- DO NOT include quotes around the full JSON\n- RETURN RAW JSON ONLY\n\nStartup Idea:\n{{ $json.idea }}\n\nRequired JSON schema:\n\n{\n  \"problem_analysis\": {\n    \"core_problem\": \"\",\n    \"why_it_exists\": \"\",\n    \"current_solutions_and_gaps\": \"\"\n  },\n  \"target_customer\": {\n    \"primary_users\": \"\",\n    \"persona\": \"\",\n    \"pain_points\": \"\"\n  },\n  \"competitors\": {\n    \"direct_competitors\": [],\n    \"indirect_competitors\": [],\n    \"differentiation_opportunities\": \"\"\n  },\n  \"risks\": {\n    \"technical_risks\": \"\",\n    \"market_risks\": \"\",\n    \"adoption_risks\": \"\"\n  },\n  \"mvp_recommendation\": {\n    \"mvp_goal\": \"\",\n    \"core_features\": [],\n    \"build_time_estimate\": \"\"\n  }\n}\n\nIf you cannot comply, return an empty JSON object {}.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "df28c7a9-2a08-41fd-9e9a-c030ecd418b0",
      "name": "Set Idea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -80,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4bc77b73-4da8-419c-b4a6-d6d812f801b2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        816,
        -48
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior startup advisor and VC analyst.\nYou analyze early-stage startup ideas realistically and clearly.\nReturn ONLY valid JSON.\n"
            },
            {
              "content": "=Analyze the following startup idea:\n\"{{ $json.startupIdea }}\"\n\nReturn ONLY valid JSON in this exact format:\n\n{\n  \"problem_analysis\": \"\",\n  \"target_customer\": \"\",\n  \"competitors\": \"\",\n  \"risks\": \"\",\n  \"mvp_suggestion\": \"\"\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        192,
        -64
      ],
      "id": "5f1294db-4c44-4ab8-85ec-1eab2c095252",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "sRiytGCVAH4rOtnM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\n// DOĞRU YERDEN AI TEXT'İ AL\nconst rawText = data.output?.[0]?.content?.[0]?.text;\n\nif (!rawText) {\n  throw new Error(\"AI text not found at output[0].content[0].text\");\n}\n\n// JSON parse\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  throw new Error(\"AI output is not valid JSON\");\n}\n\n// Kullanıcıya SADE ve TEMİZ çıktı\nreturn [\n  {\n    json: {\n      problem_analysis: parsed.problem_analysis,\n      target_customer: parsed.target_customer,\n      competitors: parsed.competitors,\n      risks: parsed.risks,\n      mvp_suggestion: parsed.mvp_suggestion\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -64
      ],
      "id": "35ba4aee-8d2d-44a4-84ba-c75b4500e450",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1280,
        96
      ],
      "id": "0cf34e80-f6f8-49e4-88de-272ed4843289",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sRiytGCVAH4rOtnM",
          "name": "n8n free OpenAI API credits"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following startup idea and return a detailed report: {{ $json.startupIdea }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29ffb79f-ad93-4a40-99cf-843d2fa5215d",
      "name": "Analysis Model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1568,
        -112
      ],
      "credentials": {
        "openAiApi": {
          "id": "sRiytGCVAH4rOtnM",
          "name": "n8n free OpenAI API credits"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI startup co-founder and mentor.\n\nContext of the startup idea: {{ $json.startupIdea }}\n\n\nYour task:\n1. Guide the user through building their startup.\n2. Ask ONE clear, strategic question at a time.\n3. Be short, encouraging, and realistic.\n4. If this is the start of the conversation, start with exactly: \"Before we go further, who exactly do you want to build this startup for?\"\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1984,
        -112
      ],
      "id": "612d0a2c-2aa0-4de7-a72e-5e1d44777e75",
      "name": "AI Mentor Agent",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1984,
        112
      ],
      "id": "54929ecd-61ac-4920-9d9c-7749edd56d0d",
      "name": "Window Buffer Memory",
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "startupIdea",
              "value": "={{ $json.body.idea }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d34d391-d650-4b63-bfeb-6d969cca20d0",
      "name": "Set Idea1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1344,
        -112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1808,
        112
      ],
      "id": "48755305-21c1-4d69-8619-3a03d34c86df",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sRiytGCVAH4rOtnM",
          "name": "n8n free OpenAI API credits"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6740cffa-2589-4d25-a401-830a56d939be",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2352,
        -128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "startup-validator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c2116ce-5a92-4846-8e87-fae007a647a1",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1120,
        -112
      ],
      "webhookId": "804b10f3-e20e-475c-a5fe-21cf5e103b23",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        32
      ],
      "id": "83e2285f-b2f1-47fc-ab65-78b3a84cbc68",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d063b938-8bf9-4430-a840-3ef139a3dc9c",
              "name": "sessionId",
              "value": "=={{ $now + \"-\" + Math.floor(Math.random() * 1000) }}\n",
              "type": "string"
            },
            {
              "id": "beb8de9f-d345-4b9c-8be7-df6962ba0118",
              "name": "startupIdea",
              "value": "=={{ $node[\"Analysis Model\"].json.output?.[0]?.content?.[0]?.text || $json.startupIdea || \"\" }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        -112
      ],
      "id": "b70af091-562f-4c2b-83e1-1b73ec5114ba",
      "name": "Edit Fields1",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Idea": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Analysis Model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Mentor Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Mentor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set Idea1": {
      "main": [
        [
          {
            "node": "Analysis Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Mentor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Set Idea1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Mentor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cad91d15-f494-46f7-b23a-4b9288696bf6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16b02a088ce4e4a71adc87a401aa90111f81ba6bc53ff562000e51b95b5f6c3a"
  },
  "id": "00NKrt4O4y0WYaHz",
  "tags": []
}